<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ramadan.scheduler</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>ABSOLUTE_PATH_TO_RamadanOeroen/ramadan_scheduler.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>ABSOLUTE_PATH_TO_RamadanOeroen</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>ABSOLUTE_PATH_TO_RamadanOeroen/ramadan_scheduler.log</string>
    <key>StandardErrorPath</key>
    <string>ABSOLUTE_PATH_TO_RamadanOeroen/ramadan_scheduler_err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
